<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>ian delairre</title>
  
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="Blog for web development, computer science, and sometimes philosophy.">
      
      <link rel="canonical" href="https://idelairre.github.io/who-am-i-what-am-i-doing-here-why-am-i-talking">
      <link rel="icon" type="image/png" href="/images/lambda-xl.png">
  
      <!-- Custom CSS -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
      <link rel="stylesheet" href="./css/syntax.css">
      <link rel="stylesheet" href="./css/lambda.css">
  </head>
  <body>
    <div class="wrapper">
    <header id="main-header">
      <div id="site-title">
        <img src="/images/fox_black.png" alt="fox" height="42" width="55">
        <a href="/">ian delairre</a>
      </div>
      <div class="links">
      <a href="/" class="page-link ">Blog</a>
        <a class="page-link " href="about">About</a>
        <a class="page-link " href="portfolio">Portfolio</a>
        <a class="page-link " href="resume">Resume</a>
      <!-- <a href="/feed.xml" target="_blank" class="page-link">RSS</a> -->
      <a href="https://github.com/idelairre/idelairre.github.io" target="_blank" class="page-link github-link">
        <img src="/images/github-repo.png" alt="Github Repository">Source</a>
      </div>
    </header>
    <div id="content">
      <div id="article">
        <div class="article-list">
          <div class="entry">
	<div class="entry-content">
	  <header>
	    <h1 class="entry-title"><a href="/who-am-i-what-am-i-doing-here-why-am-i-talking">who am i? what am i doing here? why am i talking?</a></h1>
	    <p class="entry-meta">
		    2015-04-01 10:52:38 -0400
		    
			<a href="/who-am-i-what-am-i-doing-here-why-am-i-talkingindex.html#disqus_thread" data-disqus-identifier="/who-am-i-what-am-i-doing-here-why-am-i-talking"></a>
	    </p>
	  </header>
	  <article class="entry-body">
	     <p>This blog constitutes my first foray into computer science. The topics here cover fundamentals like data structures, basic functions like sorts and the fundamental concepts of object oriented programming. I am by no means an expert and this constitutes a kind of excursion into totally foreign lands for me. If you want to know how a person with zero to no mathematical training understands computer science than you've come to the right place (you will no doubt hear some griping about the US education system and its consistent failure to teach math in a fair/interesting/useful manner).</p>
<!-- more -->
<p>My background is in continental philosophy but my exposure to Francois Laruelle's non-philosophy, graduate level academic trauma, and certain economic exigencies have pushed me in the direction of programming (and I think I've not only benefitted from it but perhaps saved myself).[^1]</p>
<p>In a week I will be graduating from General Assembly's web development immersive program, however, it will be quite a journey for me to become a fully fledged programmer and computer scientist but I'm willing to do my due dilligence. If you find this AT ALL interesting than please leave comments, advice and so on. Wish me luck.</p>
<p>[^1]: if you want to see this sordid history documented checkout my old wordpress OR NOT: <a href="https://differendkomplex.wordpress.com/">https://differendkomplex.wordpress.com/</a></p>

	  </article>
  </div>
</div>

	<div class="article-author">
	    <div class="avatar">
	      <img width="50" height="50" src="https://avatars3.githubusercontent.com/u/9040652?v&#x3D;3&amp;s&#x3D;460" alt="Ian Delairre Avatar"/>
	    </div>
	    <div class="name">
	        <h4>Assembled by <b>Ian Delairre</b> </h4>
	        Web developer into computer science, philosophy and psychoanalysis.
	    </div>
	</div>

	<div id="disqus_thread"></div>
	<script type="text/javascript">
	  var disqus_shortname = 'idelairre';
		(function() {
		    var dsq = document.createElement('script');
	      dsq.type = 'text/javascript';
	      dsq.async = true;
		    dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
		    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<script type="text/javascript">
	  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	  var disqus_shortname = 'idelairre'; // required: replace example with your forum shortname
	  var disqus_identifier = '';
	
	  /* * * DON'T EDIT BELOW THIS LINE * * */
	  (function () {
	  var s = document.createElement('script'); s.async = true;
	  s.type = 'text/javascript';
	  s.src = '//' + disqus_shortname + '.disqus.com/count.js';
	  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	  }());
	</script>

        </div>
      </div>
    </div>
    <footer class="site-footer">
    	<div class="wrap">
    		<h2 class="footer-heading">ian delairre</h2>
    		<div class="footer-col-1 column">
    			<div class="avatar">
    				<img width="50" height="50" src="/images/source_code-512.png"/>
    			</div>
    			<div class="info">
    				<ul>
    					<li><a href="mailto:idelairre@gmail.com">idelairre@gmail.com</a>
    					</li>
    				</ul>
    			</div>
    		</div>
    		<div class="footer-col-2 column">
    <!--
    			<ul>
    				{% if site.github_username %}
    				<li>
    					<a href="https://github.com/">
    						<span class="icon github"><img src="/images/github-repo.png" alt="Github Repository">
                </span>
    						<span class="username"> </span>
    					</a>
    				</li>{% endif %} {% if site.twitter_username %}
    				<li>
    					<a href="https://twitter.com/">
    						<span class="icon-twitter"><img align="left" width=22 height=22 src="/images/twitter_circle_black-512.png" alt="twitter link"></span>
    						<span class="username"> </span>
    					</a>
    				</li>{% endif %}
    			</ul>
    -->
    		</div>
    		<div class="footer-col-3 column">
    			<p class="text">Blog for web development, computer science, and sometimes philosophy.</p>
    		</div>
    	</div>
    </footer>
  </div>
  </body>
  <script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
  </script>
</html>
