<footer class="site-footer">

	<div class="wrap">

		<h2 class="footer-heading">{{ site.title }}</h2>

		<div class="footer-col-1 column">
			<div class="avatar">
				<img width="50" height="50" src="/images/source_code-512.png"/>
			</div>
			<div class="info">
				<ul>
					<li><a href="mailto:{{ site.email }}">{{ site.email }}</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="footer-col-2 column">
<!--
			<ul>
				{% if site.github_username %}
				<li>
					<a href="https://github.com/{{ site.github_username }}">
						<span class="icon github"><img src="/images/github-repo.png" alt="Github Repository">
            </span>
						<span class="username"> {{ site.github_username }}</span>
					</a>
				</li>{% endif %} {% if site.twitter_username %}
				<li>
					<a href="https://twitter.com/{{ site.twitter_username }}">
						<span class="icon-twitter"><img align="left" width=22 height=22 src="/images/twitter_circle_black-512.png" alt="twitter link"></span>
						<span class="username"> {{ site.twitter_username }}</span>
					</a>
				</li>{% endif %}
			</ul>
-->
		</div>

		<div class="footer-col-3 column">
			<p class="text">{{ site.description }}</p>
		</div>

	</div>

</footer>